{{ include("header.twig") }}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>{{ medziaga.id }}</h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>redaguoti medžiagą</h2>
                <br>
                {% if successMessage is not empty %}
                <div class="alert alert-success" role="alert">
                    {{ successMessage }}
                </div>
                {% endif %}
                <form method="post" action="/update-material/{{ medziaga.id }}">
                    <div class="form-group">
                        <label for="data">Medžiagos turinys</label>
                        <input name="input_turinys" value="{{ medziaga.turinys }}" type="text" class="form-control" id="input_turinys" placeholder="Įveskite informaciją">
                    </div>
                    <div>
                    <label for="type">Medžiagos tipas</label>
                    <select class="form-control" name="tipas" id="tipas">
                            <option value="{{ medziaga.tipas }}" selected>{{ medziaga.tipas }}</option>
                            <option value="1">plakatas</option>
                            <option value="2">skrajute</option>
                            <option value="3">video</option>
                            <option value="4">garsas</option>
                    </select>
                    </div>
                    <div>
                    <br><button type="submit" class="btn btn-primary">Patvirtinti</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


{{ include("footer.twig") }}