{{ include("header.twig") }}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Vartotojai</h1>
        <input id="quick-pavadinimas" style="width:60%; padding:5px;" type="text" placeholder="Čia rašykite naują rūšį"/>
        <button id="quick-save" class="btn btn-dark">Išsaugoti</button>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if successMessage is not empty %}
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                {% endif %}
                <h2>Vartotojai - duomenis keiskite atsargiai</h2>
                <br>
                <ul class="list-group">
                    {% for vartotojas in vartotojai %}
                    <li class="list-group-item">
                        <span>{{ vartotojas.vardas }}</span>
                        <span>{{ vartotojas.pastas }}</span>
                        <span>{{ vartotojas.slaptazodis }}</span>
                        <span>{{ vartotojas.prieiga }}</span>
                        <span>{{ vartotojas.id }}</span>
                        <span class="float-right">
                           <a href="/vartotojas/{{ vartotojas.id }}"><i class="fa fa-eye fa-fw"></i></a>&nbsp;&nbsp;
                            <a href="/redaguoti-vartotoja/{{ vartotojas.id }}"><i class="fa fa-edit fa-fw"></i></a>&nbsp;&nbsp;
                            <a href="javascript:void(0);" data-id="{{ vartotojas.id }}" class="delete-gyvuna"><i class="fa fa-trash fa-fw"></i></a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</section>
{{ include("footer.twig") }}
<script>
    $(document).ready(function(){
        $("#quick-save").on("click",function(){
            console.log("Hello World");
            var pavadinimas = $("#quick-pavadinimas").val();
            if(pavadinimas !== undefined && pavadinimas !==""){
                console.log(pavadinimas);
                $.post("/quickAddOne",{pavadinimas:pavadinimas},function(results){
                    window.location = "/gyvunai";
                });
            }
            return false;
        });
        $(".delete-gyvuna").on("click",function(){
            var gyvunoId = $(this).data("id");
            check = confirm("Ištrinti gyvūną? Kurio id yra: " + gyvunoId);
            if(check){
                $.post('/istrinti',{gyvunoId:gyvunoId},function(){
                    window.location = "/gyvunai";
                });
            }
           return false;
        });
    });
</script>