{{ include("header.twig") }}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>{{ todo.pavadinimas }}</h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>redaguoti gyvuną</h2>
                <br>
                {% if successMessage is not empty %}
                <div class="alert alert-success" role="alert">
                    {{ successMessage }}
                </div>
                {% endif %}
                <form method="post" action="/atnaujinti-gyvuna/{{ todo.id }}">
                    <div class="form-group">
                        <label for="pavadinimas">pavadinimas</label>
                        <input name="pavadinimas" value="{{ todo.pavadinimas }}" type="text" class="form-control" id="pavadinimas" placeholder="Enter Details">
                    </div>
                    <button type="submit" class="btn btn-primary">Patvirtinti</button>
                </form>

            </div>
        </div>
    </div>
</section>


{{ include("footer.twig") }}